@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,400;1,100&family=Oleo+Script&family=Trispace:wght@300&display=swap");

.pokemons {
  font-family: "Trispace", sans-serif;
}
.pokemons .row {
  height: 100%;
  position: relative;
}

/*Init card-pokemon*/
.pokemons .detail {
  background-color: rgba(250, 208, 44, 1);
  transform: translateY(50%);
  bottom: 50%;
  transform: translateX(50%);
  right: 50%;
  display: flex;
  border-radius: 10px;
  z-index: 6;
  position: fixed;
}

.pokemons .detail img {
  background-image: url("../../assets/grass.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  border-radius: 8px 0 0 8px;
}
.pokemons .detail .p-3 {
  position: relative;
  margin: 5px 5px;
}
.pokemons .detail .p-3 span {
  font-size: 25px;
  color: #ff0000;
  cursor: pointer;
  position: absolute;
  top: -5%;
  right: 0;
}
.pokemons .detail .p-3 span:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}
/*Final card-pokemon*/
.pokemons .video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.pokemons video {
  transform: translateX(50%);
  right: 50%;
  top: 10%;
  position: absolute;
}

.pokemons .video h1 {
  position: absolute;
  transform: translateY(600%);
  text-align: center;
  width: 100%;
  color: #00ff00;
}
.pokemons h2 {
  text-transform: uppercase;
}
.pokemons h5 {
  font-size: 10px;
}
.pokemons .nav-link {
  color: #20125f;
  border: 1px solid rgb(203, 203, 8);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #70eb64;
}
.pokemons .pokemon {
  height: 350px;
  margin: 20px 0;
}
.pokemons .card-header {
  position: relative;
  display: flex;
  background-image: url("../../assets/fondo1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pokemons .card-header::after {
  content: "";
  background-color: rgba(0, 255, 213, 0.765);
  position: absolute;
  height: 10%;
  width: 50%;
  transform: translateX(50%);
  right: 50%;
  bottom: 3%;
  border-radius: 50%;
  animation-name: pokemon;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes pokemon {
  0% {
    width: 30%;
    opacity: 0.3;
  }

  50% {
    width: 35%;
    opacity: 0.7;
  }
  100% {
    width: 30%;
    opacity: 0.3;
  }
}

.pokemon .img-pokemons {
  width: 60%;
  height: 100%;
  margin: auto;
  animation-name: animacion;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  z-index: 2;
}
@keyframes animacion {
  0% {
    transform: translateY(0%);
    filter: drop-shadow(0 5px 13px rgb(22, 117, 199));
  }
  50% {
    transform: translateY(5%);
    filter: drop-shadow(0 10px 23px rgb(0, 255, 213));
  }
  100% {
    transform: translateY(0%);
    filter: drop-shadow(0 5px 13px rgba(61, 75, 235, 0.87));
  }
}
/*add favorites*/
.favorite {
  color: #00ff00;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 10%;
  width: 8%;
}

.pokemons .pokebola {
  position: absolute;
  width: 50px;
  top: 5%;
  right: 6%;
  cursor: pointer;
}
